<h1><%= @hospital.name %></h1>

<h2>Number of Doctors at Hospital: <%= @hospital.doctor_total %></h2>

<h3>Great Universities Attended by Our Doctors: </h3>
  <% @hospital.unique_universities.each do |university| %>
      <p><%= university %></p>
  <% end %>
